<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <div class="center"> <h1>Crop Recommendation</h1></div>
    <form action="/predict" method="POST" target="_blank">
    <div class="main">
        <div class="box">

                 <legend>Rain Fall *</legend>
                 <input type="text" placeholder="Enter Rain Fall ..." name="Rainfall"/>

        </div>
        <div class="box">

                 <legend>PH Value *</legend>
                 <input type="text" placeholder="Enter PH Value ..." name="PH"/>

        </div>
        <div class="box">

                 <legend>Nitrogen *</legend>
                 <input type="text" placeholder="Enter Nitrogen ..." name="Nitrogen"/>

        </div>
        <div class="box">

                 <legend>Potassium *</legend>
                 <input type="text" placeholder="Enter Potassium  ..." name="Potassium"/>

        </div>
        <div class="box">

                 <legend>Phosphorus *</legend>
                 <input type="text" placeholder="Enter Phosphorus ..." name="Phosphorus"/>

        </div>
        <div class="box">

                 <legend>Humidity *</legend>
                 <input type="text" placeholder="Enter Humidity ..." name="Humidity"/>

        </div>
        <div class="box">

                 <legend>Temperature*</legend>
                 <input type="text" placeholder="Enter Temperature ..." name="Temperature"/>

        </div>
       <div><button class="submit" type="submit">Recommend crop</button></div>
    </form>

    </div>



</body>
</html>





